.align-center{
    text-align: left;
}
.align-center{
    text-align: center;
   
}
.align-right{
    text-align: right;
   
}
div{
    border: 0px solid black;
}
body{
    margin: 0px;
}
#navigation{
    margin-left:-13px;
}

.nav-item{
    border-bottom: 1px solid #FFF;
    background-color: #f1f1f2;
    color: #000; 
}
.btn{
    width: 70%;
}

.nav-link{
    color: #000 ;
    cursor: pointer;
}
.nav-link:hover{
    color:whitesmoke;
    background: black;
}

#header{
    background: #f1f1f2;
    color: #000 ;
    border-bottom: 2px black solid;
}
.invert{
    filter: invert(100);
    color: #000;
}
#all{
    font-size: 12px;
}
.microphone:hover{
    color:red;
}
.unread{
    font-weight: bolder;

}
.active{
    background: #EB8A44;
    color:black; 
}
#email-body{
    background: #2D4263;
    color:white;
    margin-left:12px;
    margin-top:5px;

}
.email-each{
    border-bottom: 0.5px solid black;
}
.email-each:hover{
    background: #2A3132;
    color: #FFF;
}
.vision-control:hover{
    background: #000;
    color: #FFF;
}
.logo{
    width: 120px;
    height: 120px;
}

.email-read-body{
    border: 1px solid #2D4263;
    width: auto;
}
.btn-link{
    color:black;
    width:auto;
}
#readMail{
    background: #f1f1f2 !important;
    color: #000 !important;   
}
.width-5{
    width:5%;
}
.width-10{
    width: 10%;
}
.width-20{
    width: 20%;
}
.width-30{
    width: 30%;
}
.width-50{
    width: 50%;
}
.width-40{
    width: 40%;
}
.width-60{
    width: 60%;
}
.width-110{
    width: 110%;
}